# KIHS Database DDL Queries

In [69]:
CREATE DATABASE KIHS
GO

In [2]:
USE KIHS
GO

In [3]:
CREATE SCHEMA HumanResources
GO

In [4]:
CREATE SCHEMA Department
GO

In [5]:
CREATE SCHEMA Score
GO

## Tables

In [8]:
CREATE TABLE [HumanResources].[Student](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    FullName NVARCHAR(50) NOT NULL,
    FatherName NVARCHAR(50) NOT NULL,
    GrandFatherName NVARCHAR(50) NOT NULL,
    Gender NVARCHAR(50) NOT NULL,
    DOB INT NOT NULL,
    POB NVARCHAR NOT NULL,
    NativeLanguage NVARCHAR(50) NOT NULL,
    Nationality NVARCHAR(50) NOT NULL,
    NID INT NOT NULL,
    CellPhone NVARCHAR(50) NOT NULL,
    ParentCellphone NVARCHAR(50) NOT NULL,
    Email NVARCHAR(50) NOT NULL,
    Photo VARBINARY(MAX) NOT NULL
)

In [10]:
CREATE TABLE [HumanResources].[Staff](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL, 
    FullName NVARCHAR(50) NOT NULL,
    LastName NVARCHAR(50) NOT NULL,
    Age INT NOT NULL,
    Gender NVARCHAR(50) NOT NULL,
    DOB INT NOT NULL,
    POB NVARCHAR NOT NULL,
    NativeLanguage NVARCHAR(50) NOT NULL,
    Nationality NVARCHAR(50) NOT NULL,
    NID INT NOT NULL,
    Cell NVARCHAR(50) NOT NULL,
    HireDate DATE NOT NULL,
    Photo VARBINARY(MAX) NOT NULL
)

In [17]:
CREATE TABLE [HumanResources].[Employee](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    Email NVARCHAR(50) NOT NULL
)

In [18]:
CREATE TABLE [HumanResources].[Teacher](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL, 
    Email NVARCHAR(50) NOT NULL
)

In [20]:
CREATE TABLE [HumanResources].[Health](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL, FOREIGN KEY(ID) REFERENCES [HumanResources].[Student](ID),
    BloodGroup NVARCHAR(50) NOT NULL,
    HIV BINARY NOT NULL,
    HepatitisB BINARY NOT NULL,
    EyeDisease BINARY NOT NULL,
    SkinDisease BINARY NOT NULL,
    ENT BINARY NOT NULL,
    SurgeryDisease BINARY NOT NULL,
    TB BINARY NOT NULL,
    InternalDisease BINARY NOT NULL,
    NeurologicMentalDisease BINARY NOT NULL,
    Attachment VARBINARY(MAX) NOT NULL
)

In [21]:
CREATE TABLE [HumanResources].[Job](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    StudentID INT NOT NULL, FOREIGN KEY(StudentID) REFERENCES [HumanResources].[Student](ID),
    HireDate DATE NOT NULL,
    Office NVARCHAR(50) NOT NULL,
    Position NVARCHAR(50) NOT NULL,
    Province NVARCHAR(50) NOT NULL
)

In [23]:
CREATE TABLE [HumanResources].[SchoolBackground](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL, FOREIGN KEY(StudentID) REFERENCES [HumanResources].[Student](ID),
    StudentID INT NOT NULL,
    SchoolName NVARCHAR(50) NOT NULL,
    SchoolLocation NVARCHAR(50) NOT NULL,
    GraduationDate DATE NOT NULL,
    GraduationCertificate VARBINARY(MAX) NOT NULL
)

In [25]:
CREATE TABLE [HumanResources].[Address](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL, FOREIGN KEY(ID) REFERENCES [HumanResources].[Student](ID),
    Province NVARCHAR(50) NOT NULL,
    District NVARCHAR(50) NOT NULL,
    StreetNo INT NOT NULL,
    HouseNo INT NOT NULL
)

In [27]:
CREATE TABLE [Department].[Attendance](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    StudentID INT NOT NULL, FOREIGN KEY(StudentID) REFERENCES [HumanResources].[Student](ID),
    DeptCourseID INT NOT NULL,
    AttendanceDate INT NOT NULL,
    PresentDays INT NOT NULL,
    AbsentDays INT NOT NULL
)

In [28]:
CREATE TABLE [Department].[Department](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    DeptName NVARCHAR(50) NOT NULL
)

In [30]:
CREATE TABLE [Department].[EducationalRank](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL, 
    StaffID INT NOT NULL, FOREIGN KEY(StaffID) REFERENCES [HumanResources].[Staff](ID),
    RankName NVARCHAR(50) NOT NULL,
    RankDate DATE NOT NULL
)

In [31]:
CREATE TABLE [Department].[Experience](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    StaffID INT NOT NULL, FOREIGN KEY(StaffID) REFERENCES [HumanResources].[Staff](ID),
    OrganizationName NVARCHAR(50) NOT NULL,
    Location NVARCHAR(50) NOT NULL,
    StartDate DATE NOT NULL,
    EndDate DATE NOT NULL,
    OrganizationEmail NVARCHAR(50) NOT NULL,
    OrganizationCell NVARCHAR(50) NOT NULL
)

In [33]:
CREATE TABLE [Department].[EducationalBackground](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    StaffID INT NOT NULL, FOREIGN KEY(StaffID) REFERENCES [HumanResources].[Staff](ID),
    Degree NVARCHAR(50) NOT NULL,
    CampusName NVARCHAR(50) NOT NULL,
    CampusLocation NVARCHAR(50) NOT NULL,
    GraduationDate DATE NOT NULL,
    Attachment VARBINARY(MAX) NOT NULL
)

In [34]:
CREATE TABLE [Department].[Course](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    CourseName NVARCHAR(50) NOT NULL
)

In [36]:
CREATE TABLE [Department].[TimeTable](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    DeptCourseID INT NOT NULL, 
    TeacherID INT NOT NULL, FOREIGN KEY(TeacherID) REFERENCES [HumanResources].[Teacher](ID),
    PresentDay NVARCHAR(50) NOT NULL,
    StartTime TIME NOT NULL,
    EndTime TIME NOT NULL
)

In [39]:
CREATE TABLE [Department].[Hostel](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    HostelType NVARCHAR(50) NOT NULL
)

In [41]:
CREATE TABLE [Department].[HostelAttendance](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    HostelID INT NOT NULL, 
    RegistrationID INT NOT NULL, 
    AttendanceDate DATE NOT NULL,
    PresentDays INT NOT NULL,
    AbsentDays INT NOT NULL,
)

In [42]:
CREATE TABLE [Department].[Tools](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    Bed NVARCHAR(50) NOT NULL,
    Cupboard NVARCHAR(50) NOT NULL,
    Curtains NVARCHAR(50) NOT NULL,
    Fan NVARCHAR(50) NOT NULL,
    Heater NVARCHAR(50) NOT NULL,
    Blanket NVARCHAR(50) NOT NULL,
    Pillow NVARCHAR(50) NOT NULL,
    Carpet NVARCHAR(50) NOT NULL,
)

In [43]:
CREATE TABLE [Department].[Room](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    HostelID INT NOT NULL, FOREIGN KEY(HostelID) REFERENCES [Department].[Hostel](ID),
    ToolsID INT NOT NULL, FOREIGN KEY(ToolsID) REFERENCES [Department].[Tools](ID),
    FloorNo INT NOT NULL
)

In [45]:
CREATE TABLE [Department].[HostelEmployee](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL, FOREIGN KEY(ID) REFERENCES [HumanResources].[Employee](ID),
    HostelID INT NOT NULL, FOREIGN KEY (HostelID) REFERENCES [Department].[Hostel](ID),
)

In [46]:
CREATE TABLE [Department].[DeptCourse](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    DepartmentID INT NOT NULL, FOREIGN KEY(DepartmentID) REFERENCES [Department].[Department](ID),
    CourseID INT NOT NULL, FOREIGN KEY(CourseID) REFERENCES [Department].[Course](ID),
    SemesterNo INT NOT NULL
)

In [47]:
CREATE TABLE [Department].[ExamTimeTable](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    CourseID INT NOT NULL, FOREIGN KEY(CourseID) REFERENCES [Department].[Course](ID),
    TeacherID INT NOT NULL, FOREIGN KEY(TeacherID) REFERENCES [HumanResources].[Teacher](ID),
    ExamDate DATE NOT NULL,
    ExamTime TIME NOT NULL
)

In [49]:
CREATE TABLE [Score].[Score](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    StudentID INT NOT NULL, FOREIGN KEY(StudentID) REFERENCES [HumanResources].[Student](ID),
    TimeTableID INT NOT NULL, FOREIGN KEY(TimeTableID) REFERENCES [Department].[ExamTimeTable](ID),
    Chance INT NOT NULL
)

In [51]:
CREATE TABLE [Score].[ScoreDetails](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    ScoreID INT NOT NULL, FOREIGN KEY(ScoreID) REFERENCES [Score].[Score](ID),
    ScoreType INT NOT NULL,
    ScorePercentage INT NOT NULL,
    ExamMarks INT NOT NULL
)

In [52]:
CREATE TABLE [Department].[HostelRegistration](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    HostelID INT NOT NULL, FOREIGN KEY(HostelID) REFERENCES [Department].[Hostel](ID),
    StudentID INT NOT NULL, FOREIGN KEY(StudentID) REFERENCES [HumanResources].[Student](ID),
    RegistrationDate INT NOT NULL,
    RoomID INT NOT NULL
)

In [53]:
CREATE TABLE [Department].[Clearance](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    RegistrationID INT NOT NULL, FOREIGN KEY(RegistrationID) REFERENCES [Department].[HostelRegistration](ID),
    Checked BINARY NOT NULL
)

In [54]:
CREATE TABLE [Department].[Group](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    StudentID INT NOT NULL, FOREIGN KEY(StudentID) REFERENCES [HumanResources].[Student](ID),
    DeptCourseID INT NOT NULL, FOREIGN KEY(DeptCourseID) REFERENCES [Department].[DeptCourse](ID),
    GroupName NVARCHAR(50) NOT NULL,
)

In [55]:
CREATE TABLE [Department].[NightShift](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL, FOREIGN KEY(ID) REFERENCES [Department].[Group](ID),
    TeacherID INT NOT NULL, FOREIGN KEY(TeacherID) REFERENCES [HumanResources].[Teacher](ID),
    NightShiftDate DATE NOT NULL
)

In [56]:
CREATE TABLE [Department].[Coordinator](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    TeacherID INT NOT NULL, FOREIGN KEY(TeacherID) REFERENCES [HumanResources].[Teacher](ID),
    DepartmentID INT NOT NULL, FOREIGN KEY(DepartmentID) REFERENCES [Department].[Department](ID),
    HireDate DATE NOT NULL
)

In [68]:
CREATE TABLE [Department].[Enrollment](
    ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL, FOREIGN KEY(ID) REFERENCES [HumanResources].[Student](ID),
    DepartmentID INT NOT NULL, FOREIGN KEY(DepartmentID) REFERENCES [Department].[Department](ID),
    EnrollDate DATE NOT NULL
)

## Relationships

In [78]:
ALTER TABLE [HumanResources].[Staff] ADD
CONSTRAINT FK_Staff_Address 
FOREIGN KEY (ID)
REFERENCES [HumanResources].[Address](ID)

In [79]:
ALTER TABLE [HumanResources].[Staff] ADD
CONSTRAINT FK_Teacher_Staff
FOREIGN KEY (ID)
REFERENCES [HumanResources].[Teacher](ID)

In [80]:
ALTER TABLE [HumanResources].[Staff] ADD
CONSTRAINT FK_Employee_Staff
FOREIGN KEY (ID)
REFERENCES [HumanResources].[Employee](ID)

In [64]:
ALTER TABLE [Department].[DeptCourse] ADD
CONSTRAINT FK_Attendance_DeptCourse
FOREIGN KEY (ID)
REFERENCES [Department].[Attendance](ID)

In [65]:
ALTER TABLE [Department].[TimeTable] ADD
CONSTRAINT FK_TimeTable_DeptCourse
FOREIGN KEY (ID)
REFERENCES [Department].[DeptCourse](ID)

In [66]:
ALTER TABLE [Department].[HostelAttendance] ADD
CONSTRAINT FK_HostelAttendance_Hostel
FOREIGN KEY (ID)
REFERENCES [Department].[Hostel](ID)

In [67]:
ALTER TABLE [Department].[HostelAttendance] ADD
CONSTRAINT FK_HostelAttendance_HostelRegistration
FOREIGN KEY (ID)
REFERENCES [Department].[HostelRegistration](ID)