# KIHS Database DDL Queries

In [ ]:
CREATE DATABASE KHIS
GO

In [ ]:
CREATE SCHEMA HumanResources
GO

In [ ]:
CREATE SCHEMA Department
GO

In [ ]:
CREATE SCHEMA Score
GO

## Tables

In [ ]:
CREATE TABLE [HumanResources].[Student](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    FullName NVARCHAR(50) NOT NULL,
    FatherName NVARCHAR(50) NOT NULL,
    GrandFatherName NVARCHAR(50) NOT NULL,
    Gender NVARCHAR(50) NOT NULL,
    DOB INT NOT NULL,
    POB NVARCHAR NOT NULL,
    NativeLanguage NVARCHAR(50) NOT NULL,
    Nationality NVARCHAR(50) NOT NULL,
    NID INT NOT NULL,
    Cell NVARCHAR(50) NOT NULL,
    ParentCell NVARCHAR(50) NOT NULL,
    Email NVARCHAR(50) NOT NULL,
    Photo ATTACH NOT NULL
)

In [ ]:
CREATE TABLE [HumanResources].[Staff](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    FullName NVARCHAR(50) NOT NULL,
    LastName NVARCHAR(50) NOT NULL,
    Age INT NOT NULL,
    Gender NVARCHAR(50) NOT NULL,
    DOB INT NOT NULL,
    POB NVARCHAR NOT NULL,
    NativeLanguage NVARCHAR(50) NOT NULL,
    Nationality NVARCHAR(50) NOT NULL,
    NID INT NOT NULL,
    Cell NVARCHAR(50) NOT NULL,
    HireDate DATE NOT NULL,
    Photo ATTACH NOT NULL
)

In [ ]:
CREATE TABLE [HumanResources].[Employee](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    Email NVARCHAR(50) NOT NULL
)

In [ ]:
CREATE TABLE [HumanResources].[Teacher](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    Email NVARCHAR(50) NOT NULL
)

In [ ]:
CREATE TABLE [HumanResources].[Employee](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    Email NVARCHAR(50) NOT NULL
)

In [ ]:
CREATE TABLE [HumanResouces].[Health](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    BloodGroup NVARCHAR(50) NOT NULL,
    HIV BINARY NOT NULL,
    HepatitisB BINARY NOT NULL,
    EyeDisease BINARY NOT NULL,
    SkinDisease BINARY NOT NULL,
    ENT BINARY NOT NULL,
    SurgeryDisease BINARY NOT NULL,
    TB BINARY NOT NULL,
    InternalDisease BINARY NOT NULL,
    NeurologicMentalDisease BINARY NOT NULL,
    Attachment ATTACH NOT NULL
)

In [ ]:
CREATE TABLE [HumanResouces].[Job](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    StudentID INT NOT NULL,
    HireDate DATE NOT NULL,
    Office NVARCHAR(50) NOT NULL,
    Position NVARCHAR(50) NOT NULL,
    Province NVARCHAR(50) NOT NULL
)

In [ ]:
CREATE TABLE [HumanResouces].[SchoolBackground](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    StudentID INT NOT NULL,
    SchoolName NVARCHAR(50) NOT NULL,
    SchoolLocation NVARCHAR(50) NOT NULL,
    GraduationDate DATE NOT NULL,
    GraduationCertificate ATTACH NOT NULL
)

In [ ]:
CREATE TABLE [HumanResouces].[Address](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    Province NVARCHAR(50) NOT NULL,
    District NVARCHAR(50) NOT NULL,
    StreetNo INT NOT NULL,
    HouseNo INT NOT NULL
)

In [ ]:
CREATE TABLE [Department].[Attendance](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    StudentID INT NOT NULL,
    DeptCourse INT NOT NULL,
    AttendanceDate INT NOT NULL,
    PresentDays INT NOT NULL,
    AbsentDays INT NOT NULL
)

In [ ]:
CREATE TABLE [Department].[Department](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    DeptName NVARCHAR(50) NOT NULL
)

In [ ]:
CREATE TABLE [Department].[EducationalRank](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    StaffID ID NOT NULL,
    RankName NVARCHAR(50) NOT NULL,
    RankDate DATE NOT NULL
)

In [ ]:
CREATE TABLE [Department].[Experience](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    StaffID ID NOT NULL,
    OrganizationName NVARCHAR(50) NOT NULL,
    Location NVARCHAR(50) NOT NULL,
    StartDate DATE NOT NULL,
    EndDate DATE NOT NULL,
    OrganizationEmail NVARCHAR(50) NOT NULL,
    OrganizationCell NVARCHAR(50) NOT NULL
)

In [ ]:
CREATE TABLE [Department].[EducationalBackground](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    StaffID ID NOT NULL,
    Degree NVARCHAR(50) NOT NULL,
    CampusName NVARCHAR(50) NOT NULL,
    CampusLocation NVARCHAR(50) NOT NULL,
    GraduationDate DATE NOT NULL,
    Attachment ATTACH NOT NULL
)

In [ ]:
CREATE TABLE [Department].[Course](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    CourseName NVARCHAR(50) NOT NULL
)

In [ ]:
CREATE TABLE [Department].[TimeTable](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    DeptCourseID INT NOT NULL,
    TeacherID INT NOT NULL,
    PresentDay NVARCHAR(50) NOT NULL,
    StartTime TIME NOT NULL,
    EndTime TIME NOT NULL
)

In [ ]:
CREATE TABLE [Department].[Hostel](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    HostelType NVARCHAR(1,1) NOT NULL,
)

In [ ]:
CREATE TABLE [Department].[Hostel](
    INT ID IDENTITY(1,1) PRIMARY KEY NOT NULL,
    HostelType NVARCHAR(1,1) NOT NULL,
)