# Database ddl queries test

In [ ]:
--INSERT QUERIES FOR [Department].[Hostel] TABLE
INSERT INTO [Department].[Hostel] (HostelType)
VALUES ('Male');
INSERT INTO [Department].[Hostel] (HostelType)
VALUES ('Female');
-- INSERT QUERIES FOR [Department].[Hostel] TABLE TO CHECK ALL CONSTRIANTS WORK CORRECTLY
INSERT INTO [Department].[Hostel] (HostelType)
VALUES ('MF12');
-- SELECT ALL RECOREDS FROM [Department].[Hostel]
SELECT * FROM [Department].[Hostel];

In [ ]:
-- INSERT QUERIES FOR [Department].[Tools] TABLE 
INSERT INTO [Department].[Tools] (Bed, Cupboard,  Curtains, Fan, Heater, Blanket, Pillow, Carpet)
VALUES 
(4, 5, 6,5, 3, 2, 4, 6),
(42, 45, 56,85, 37, 62, 5, 23),
(4, 52, 46, 35, 31, 22, 4, 236),
(42, 45, 56,85, 37, 62, 5, 23),
(23, 53, 333,533, 333, 23, 43, 63),
(12, 45, 56,85, 37, 62, 53, 23),
(56, 52, 46, 35, 31, 22, 4, 236),
(718, 213, 526,435, 33, 632, 52, 33),
(8, 23, 46,45, 33, 2, 2, 3),
(4, 533, 633,353, 33, 23, 43, 6),
(42, 45, 56,85, 37, 62, 5, 23),
(4, 52, 46, 35, 31, 22, 4, 236),
(42, 45, 56,85, 37, 62, 5, 23),
(23, 505, 6, 85, 3, 82, 423, 66),
(12, 45, 56,85, 37, 62, 5, 23),
(56, 52, 46, 35, 31, 22, 4, 236),
(78, 23, 5346,845, 373, 622, 52, 223),
(56, 52, 46, 35, 31, 22, 4, 236),
(78, 23, 5346,845, 373, 622, 52, 223),
(8, 23, 46,45, 33, 2, 2, 3);
-- SELECT QUEREY FOR [Department].[Tools] TABLE
SELECT * FROM [Department].[Tools];

In [ ]:
--INSERT QUERIES FOR [Department].[Room] TABLE
INSERT INTO [Department].[Room] (HostelID, ToolsID, FloorNo)
VALUES 
(1, 1, 1),
(1, 2, 1),
(1, 3, 1),
(1, 4, 1),
(1, 5, 1),
(1, 6, 2),
(1, 7, 2),
(1, 8, 2),
(1, 9, 2),
(1, 10, 2),
(2, 11, 1),
(2, 12, 1),
(2, 13, 1),
(2, 14, 1),
(2, 15, 1),
(2, 16, 2),
(2, 17, 2),
(2, 18, 2),
(2, 19, 2),
(2, 20, 2);
-- SELECT ALL RECOREDS FROM [Department].[Room]
SELECT * FROM [Department].[Room];

In [ ]:
--INSERT QUERIES FOR [Department].[HostelEmployee] TABLE
INSERT INTO [Department].[HostelEmployee] (HostelID)
VALUES 
(4, 1),
(5, 2), 
(6, 2),
(7, 2),
(8, 2),
(9, 2),
(2, 2),
(1, 1),
(3, 1),
(13, 1),
(14, 1),
(15, 1),
(16, 1),
(17, 1),
(18, 1),
(19, 2),
(14, 2);
-- SELECT ALL RECOEDS FROM [Department].[HostelEmployee] TBALE
select * from [Department].[HostelEmployee]

In [ ]:
--INSERT QUERIES FOR [Department].[Hostel] TABLE
INSERT INTO [Department].[HostelAttendance] (HostelID, RegistrationID, AttendanceDate, AttendanceDate, TotalDays, PresentDays, AbsentDays, OffDays, Leave)
VALUES
(1, 1, '2019-01-13', 30, 12, 15, 3, 0),
(1, 2, '2019-01-13', 30, 18, 9, 3, 0),
(1, 3, '2019-01-13', 30, 17, 10, 3, 0),
(1, 4, '2019-01-13', 30, 8, 15, 3, 4),
(1, 5, '2019-01-13', 30, 12, 15, 3, 0),
(1, 6, '2019-01-13', 30, 12, 15, 3, 0),
(1, 7, '2019-01-13', 30, 12, 15, 3, 0),
(1, 8, '2019-01-13', 30, 12, 13, 3, 2),
(1, 9, '2019-01-13', 30, 12, 9, 3, 6),
(1, 10, '2019-01-13', 30, 12, 8, 3, 7),
(2, 12, '2019-01-13', 30, 12, 15, 3, 0),
(2, 13, '2019-01-13', 30, 12, 3, 3, 12),
(2, 14, '2019-01-13', 30, 12, 9, 3, 6),
(2, 15, '2019-01-13', 30, 12, 15, 3, 0),
(2, 16, '2019-01-13', 30, 12, 15, 3, 0),
(2, 17, '2019-01-13', 30, 12, 15, 3, 0),
(2, 18, '2019-01-13', 30, 12, 14, 3, 1),
(2, 19, '2019-01-13', 30, 12, 13, 3, 2),
(2, 20, '2019-01-13', 30, 12, 12, 3, 3);
-- SELECT QUEREY FRO [Department].[HostelAttendance] TABLE
SELECT * FROM [Department].[HostelAttendance];

In [ ]:
--INSERT QUERIES FOR [Department].[Clearance] TABLE
INSERT INTO [Department].[Clearance] (RegistrationID, Checked)
VALUES 
(1, 1),
(2, 0),
(3,1),
(4, 1),
(5, 0),
(6, 1),
(7, 1),
(8, 1),
(9, 1),
(10, 1),
(11, 1),
(12, 1),
(13, 0),
(14, 0),
(15, 1),
(16, 1),
(17, 1),
(18, 1),
(19, 0),
(20, 0);
--SELECT QUEREY FOR ALL REECORDS FOR [Department].[Clearance] TABLE
SELECT * FROM [Department].[Clearance];

In [ ]:
--INSERT QUERIES FOR [Department].[HostelRegistration] TABLE
INSERT INTO [Department].[HostelRegistration] (HostelID, StudentID, RegistrationDate, RoomID)
VALUES 
(1, 1, '2018-07-23', 1),
(1, 2, '2018-07-23', 2),
(1, 2, '2018-08-23', 2),
(1, 3, '2018-0-23', 2),
(1, 2, '2018-09-23', 3),
(1, 4, '2018-07-23', 4),
(1, 5, '2018-07-23', 5),
(1, 6, '2018-07-23', 3),
(1, 6, '2018-08-23', 2),
(1, 7, '2018-07-23', 3),
(1, 2, '2018-10-23', 4),
(2, 1, '2018-03-23', 3),
(2, 5, '2018-02-23', 13),
(2, 6, '2018-02-23', 12),
(2, 7, '2018-02-23', 14),
(2, 8, '2018-02-23', 6),
(2, 19, '2018-07-23', 6),
(2, 20, '2018-07-23', 5),
(2, 10, '2018-07-23', 5),
(2, 12, '2018-07-23', 5),
(2, 11, '2018-07-23', 20),
(2, 19, '2018-11-23', 19);
-- SELECT QUEREY FOR ALL RECORDS IN [Department].[HostelRegistration] TABLE
SELECT * FROM [Department].[HostelRegistration];