# Database ddl queries test

In [ ]:
INSERT INTO